# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\N26 Senior Backend Engineer Coding Challenge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
